@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    font-family: "Roboto Mono", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  background-color: rgb(71, 69, 69);
}
#help{
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 6px;
    background-color: rgb(124, 121, 121);
    margin-bottom: 100px;
}
#front,#down,#right,#left{
    height: 60px;
    width: 60px;
    border: solid gray 10px;
    border-radius: 6px;
}
#buttondiv{
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
main{
    width: 200px;
}
#table{
    height: 200px;
    width: 200px;
    border: solid 1px rgb(53, 50, 50);
    border-radius: 10px;
    position: relative;
    background-color: rgb(155, 152, 152);
}
#person{
    top: 100px;
    left: 100px;
 height: 19px;
 width: 19px;
 position: absolute;
 border: solid black 1px;
 border-radius: 6px;
}
#apple{
    background-color: red;
    height: 19px;
    width: 19px;
    position: absolute;
    border: solid red 1px;
    border-radius: 6px;
}
span{
    height: 7px;
    width: 3px;
    background-color: green;
    top: -6px;
    position: absolute;
    left: 8px;
}
.rotateanim{
   animation: animation1 0.4s linear infinite;
}

@keyframes animation1{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
